<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empleados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">function eliminarEmpleado(id) {
        swal({
            title: 'Are you sure?',
            text: 'You will not be able to recover this imaginary file!',
            type: 'warning',
            showCancelButton: true,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonClass: 'btn btn-secondary'
        }).then(function(result){
            if(result.value){
                $.ajax({
                    url: "api/empleados" + id,
                    type: "DELETE",
                    success: function(){
                        swal("Ok", "Se ha eliminado", "success").then(function(){
                            window.location = "/empleados.html";

                        });

                    }
                })
            }


        });

    }

    var app = angular.module("EmpleadoManagment", []);
        app.controller("EmpleadoManagmentController", function ($scope, $http) {
            $scope.empleados = [];
            _refreshPageData();

            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: '/api/empleados'
                }).then(function successCallback(response) {
                    $scope.empleados = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshPageData();
            }

            function _error(response) {
                alert(response.data.message || response.statusText);
            }


        });

    </script>
</head>
<body ng-app="EmpleadoManagment" ng-controller="EmpleadoManagmentController">

<div class="container">
    <h1>Empleados</h1>

    <h3>Lista de Empleados</h3>
    <br>
    <a href="nuevoempleado.html" class="btn btn-success">nuevo empleado</a>
    <br>

    <div class="row">
        <div class="col-3">Nombre</div>
        <div class="col-3">Salario</div>
        <div class="col-3">Fecha de Ingreso</div>
        <div class="col-3">Eliminar</div>

    </div>
    <div class="row" ng-repeat="empleado in empleados">
        <div class="col-3">{{ empleado.nombre }}</div>
        <div class="col-3">{{ empleado.salario }}</div>
        <div class="col-3">{{ empleado.fechaIngreso }}</div>
        <div class="col-3"><a class="btn btn-danger" href="#"
                     onclick="eliminarEmpleado(${empleado.id})"> Eliminar</a>
        </div>
    </div>
</div>

</body>
</html>