<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("EmpleadoManagment", []);

        //Controller Part
        app.controller("EmpleadoManagmentController", function ($scope, $http) {

            //Initialize page with default data which is blank in this example
            $scope.empleados = [];

            $scope.form = {
                nombre: "",
                salario: "",
                fechaIngreso: ""
            };
            $scope.add = function () {
                var data = {"nombre": $scope.form.nombre, "salario": $scope.form.salario, "fechaIngreso": $scope.form.fechaIngreso};

                $http({
                    method: "POST",
                    url: '/api/empleados',
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            }})
    </script>
</head>
<body ng-app="EmpleadoManagment" ng-controller="EmpleadoManagmentController">
<div class="container">
    <h3>Nuevo Empleado</h3>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="nombre" ng-model="form.nombre" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="salario" ng-model="form.salario" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="date" placeholder="fechaIngreso" ng-model="form.fechaIngreso" size="60"/></div>
        </div>
        <input type="submit" value="Save" class="btn btn-success"/>
        <a href="empleados.html" class="btn btn-success">regresar</a>
    </form>
</div>
</body>
</html>